# --- SECTION K-GUARD ---

# Virtual environement
venv/
.venv/
env/
ENV/

# Secrets & keys
*.key
*.pem
*.pub
kubeconfig
.env
.env.*

# Binaries & compilation
/bin/
*.exe
*.bin
__pycache__/
*.py[cod]

# local database
*.db
*.sqlite3