# --- K-GUARD MASTER GITIGNORE ---

# Python & Virtual Envs
venv/
.venv/
env/
ENV/
__pycache__/
*.py[cod]

# Go Binaries
installer/kguard-installer
installer/uninstaller/kguard-uninstaller
/bin/
*.exe

# Secrets & Cloud Credentials (CRITIQUE)
*.key
*.pem
*.pub
kubeconfig
.env
.env.*

# Databases & Persistence
*.db
*.sqlite3
backend/data/

# Frontend & Node
node_modules/
dist/
.eslintcache

# Scories OS
.DS_Store
Thumbs.db

# Secret Wazuh
/k8s/wazuh/.secret_password
/k8s/wazuh/wazuh-certificates/
frontend/tsconfig.app.tsbuildinfo

.backup-before-*/

# Local backup artifacts
*.bak
*.backup
*.old
*~
*.sqlite

# Local runtime database
backend/data/*.db

