apiVersion: apps/v1
kind: Deployment
metadata:
  name: k-guard-deployment
  namespace: k-guard
spec:
  replicas: 1
  selector:
    matchLabels:
      app: k-guard
  template:
    metadata:
      labels:
        app: k-guard
    spec:
      serviceAccountName: k-guard-sa
      containers:
      # --- BACKEND ---
      - name: backend
        image: k-guard-backend:latest
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 8000
        envFrom:
          - secretRef:
              name: k-guard-secrets
        # ✅ AJOUT : Check de santé
        livenessProbe:
          httpGet:
            path: /k-guard/api/
            port: 8000
          initialDelaySeconds: 15
          periodSeconds: 20
        # ✅ AJOUT : Limites de ressources
        resources:
          limits:
            cpu: "500m"
            memory: "512Mi"
          requests:
            cpu: "200m"
            memory: "256Mi"

      # --- FRONTEND ---
      - name: frontend
        image: k-guard-frontend:latest
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 80
        resources:
          limits:
            cpu: "200m"
            memory: "128Mi"
          requests:
            cpu: "100m"
            memory: "64Mi"