apiVersion: apps/v1
kind: Deployment
metadata:
  name: k-guard-deployment
  namespace: default
spec:
  replicas: 1
  selector:
    matchLabels:
      app: k-guard
  template:
    metadata:
      labels:
        app: k-guard
    spec:
      # 1. Utilisation de l'identité RBAC créée
      serviceAccountName: k-guard-sa
      
      # 2. Clé pour ouvrir le registre Cloud GitLab
      imagePullSecrets:
        - name: gitlab-k-guard-registry-key
      
      containers:
      - name: backend
        # 3. Image tirée depuis le Cloud
        image: registry.gitlab.com/portfolio-kamal-guidadou/k-guard/backend:latest
        imagePullPolicy: Always
        ports:
        - containerPort: 8000
        env:
        - name: KUBECONFIG
          value: "" # On le vide car load_incluster_config() n'en a pas besoin avec le SA
      
      - name: frontend
        image: registry.gitlab.com/portfolio-kamal-guidadou/k-guard/frontend:latest
        imagePullPolicy: Always
        ports:
        - containerPort: 80 # Nginx sert le front sur le port 80