# --- K-Guard Sentinel: Core Infrastructure Allow ---
kind: NetworkPolicy
apiVersion: networking.k8s.io/v1
metadata:
  name: sentinel-infra-allow
  namespace: {{ ns_item }}
  labels:
    managed-by: k-guard-sentinel
spec:
  podSelector: {}
  policyTypes:
    - Ingress
    - Egress
  egress:
    - to:
        - namespaceSelector:
            matchLabels:
              kubernetes.io/metadata.name: kube-system
      ports:
        - protocol: UDP
          port: 53
